#body {
    text-align: center;
}

div{
  text-align: center;
  display: block;
  padding-top: 130px;
}

h2{
    font-size: 20px;
}

#login_form {
    padding-top: 28px;
    padding-bottom: 28px;
}
#form-button {
    margin-top: 26px;
}

