<app-navigation></app-navigation>
<section>
    <header>
      <div class="top-row" *ngIf='!update'>
          <h1 class="header_element">New Event</h1>
          <hr>
      </div>

      <div class="top-row" *ngIf='update'>
        <h1 class="header_element">Update Event</h1>
        <hr>
    </div>
  </header>
    
    <body>
        <br>
        <form [formGroup]="eventFormGroup" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" >
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title" required>
          </mat-form-field>
    
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Date" [min]="minDate" formControlName="event_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>Time</mat-label>
            <input matInput type="time" placeholder="Time" formControlName="event_time" required>
          </mat-form-field>
    
          <mat-form-field appearance="fill" >
            <mat-label>Location</mat-label>
            <input matInput placeholder="Location" formControlName="location" required>
          </mat-form-field>
    
          <mat-form-field appearance="fill" >
            <mat-label>Dress code</mat-label>
            <input matInput placeholder="Dress code" formControlName="dress_code" required>
          </mat-form-field>

          <img *ngIf="imageSrc" class="cover_image" [src]="imageSrc"/> 

          <mat-form-field appearance="fill" >
            <mat-label>Cover image</mat-label>
            <ngx-mat-file-input #coverImageInput formControlName="cover_image" accept="image/jpeg, image/png" (change)="onCoverImageInputChange()"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!coverImageInput.empty"  (click)="clearCoverImage(); coverImageInput.clear($event)">
              <mat-icon style="-webkit-text-fill-color:blue">clear</mat-icon>
            </button>
            <button type="button" mat-icon-button matSuffix *ngIf="coverImageInput.empty">
              <mat-icon style="-webkit-text-fill-color:grey">attach_file</mat-icon>
            </button>
            <mat-error *ngIf="eventFormGroup.controls.cover_image.hasError('required')">
              Please select a file
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>Time limit</mat-label>
            <input style="width: 85%;" type="number" matInput placeholder="Time limit" formControlName="time_limit" required><span>Days</span>
          </mat-form-field>
          
          <br><br>
          <h2>Questions</h2>
          <hr>
          <app-event-extras [questions]="questions"  (questionEmitter)="addQuestion($event)" (questionsEmitter)="updateQuestions($event)">

          </app-event-extras>

            <br><br>
            <h2>Invitees</h2>
            <hr><br>

            
            <!-- <textarea placeholder="name@example.com" rows="3" id="invitees" (change)="doTextareaValueChange($event)" [value]="text"></textarea> -->
            

            <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Invitation list</mat-label>
              <mat-chip-list #chipList aria-label="Email selection">
                <mat-chip
                  *ngFor="let email of selectedEmails"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(email)">
                  {{email}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="New email..."
                  #inviteInput
                  [formControl]="emailCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-error>Email does not exist</mat-error>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let email of filteredEmails | async" [value]="email" (click)="addFromClick()">
                  {{email}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            
            <mat-form-field appearance="legacy">
              <mat-label>Choose invitees</mat-label>
              <mat-select [(value)]="selectedDepartment" (selectionChange)='checked()'>
              <mat-option *ngFor="let department of departments" [value]="department">
                  {{department}}
              </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>

          <button *ngIf="!update" mat-raised-button color="primary" class="create-button" [disabled]="!eventFormGroup.valid || !submitBasedOnAnswer || (selectedEmails.length === 0)">Create</button>
          <button *ngIf="update" mat-raised-button color="primary" class="create-button" [disabled]="!eventFormGroup.valid || !submitBasedOnAnswer || (selectedEmails.length === 0)">Update</button>
          <button mat-raised-button type="button" color="primary" class="cancel-button" (click)="cancel()">Cancel</button>
        </form>
    </body>
</section>
