@use "../../../../variables" as v;
.section-home-teamlead{
  display: block;
}

.section-label{
  display: block;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}



.section-button--edit{
  display: block;
  margin-left: 40px;
}

.section-mat-icon{
  color: black;
}

.section-button--create--request{
  display: block;
  text-align: left;
  margin-left: 20px;
}

.section-home-teamlead-container .section-list-requests{
  overflow-y: auto;
  overflow-x: hidden;
  height:200px;
  width:100%;
}

::ng-deep .mat-form-field {
  width: 320px;
}
@media screen and (max-width: 500px) {
  ::ng-deep .mat-form-field {
    width: 80%;
 }
}
.div-holiday-request {
  background-color: v.$grey-secondary;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  position: fixed;
  bottom:0;
  max-width: 100vw; 
  max-height: calc(100vh - 100px); 
  overflow-y: auto;
  z-index: 1;
}


