<section class="section-home-teamlead">
  <mat-label class="section-label">Vacation days left: {{nrHolidays}}</mat-label>

  <br>

  <mat-form-field class="section-dropdown-requests" appearance="fill">
    <mat-select (selectionChange)="onTypeChange($event.value)">
      <mat-option *ngFor="let request of requestsTypes" [value]="request">
        {{request}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <header>
    <h2 class="section-title">Requests</h2>
  </header>

  <app-requests-table></app-requests-table>

  <div class="div-holiday-request">
    <mat-card class="bg-card">
      <app-create-request *ngIf="showFormCreateRequest" [refreshData]="refreshDataFunc"></app-create-request>
      <button mat-button color="accent" type="button" (click)="showFormCreateRequest = !showFormCreateRequest" id="form-button">{{showFormCreateRequest? "Close" : "Create new request"}}</button>
    </mat-card>
  </div>

</section>
