.section-home-teamlead{
  display: block;
  text-align: center;
}

.section-label{
  display: block;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

.section-dropdown-requests{
  display: block;
  text-align: left;
  width: 30%;
  height: 40%;
}

h2{
  font-size: 20px;
}

