<nav>
    <button mat-button *ngIf="!canShowNotification" type="button" id="nav-bar-profile-button" (click)="redirectUser()" color="white"><mat-icon matPrefix id="nav-bar-profile">home</mat-icon></button>
    <p id="username-buff" *ngIf="canShowNotification"></p>
    <p id="username">{{name}}</p>
    <button *ngIf="canShowNotification" mat-button type="button" id="nav-bar-notification-button" (click)="showNotifications()" color="white">
       <mat-icon *ngIf="notificationNum > 0" matBadge="{{notificationNum}}" matBadgeColor="warn">notifications</mat-icon>
       <mat-icon matPrefix *ngIf="notificationNum <= 0" id="nav-bar-notification">notifications</mat-icon>
    </button>
    <button mat-button type="submit" id="nav-bar-button" (click)="logoutUser()" color="white"><mat-icon matPrefix id="nav-bar-logout">logout</mat-icon></button>
</nav>
<app-nav-bar-notifications *ngIf="notificationsVisible"></app-nav-bar-notifications>