@use "../../../_variables" as v;
nav {
    position:sticky;
    top: 0;
    background-color: #f19d38;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    margin-bottom: 18px;
    justify-content: space-between;
    overflow-x: scroll;
    
}
#nav-bar-button {
    margin-right: 8px;
    vertical-align:middle;
}
#nav-bar-profile-button {
    margin-left: 8px;
    vertical-align:middle;
}

.mat-white {
    color: white;
}
#username {
    margin-top: 14px;
    color:white;
    font-weight: bold;
}
#username-icon {
    margin-top: 8px;
    margin-left: 14px;
    color:white;
    vertical-align:middle;
}
#nav-bar-notification-button {
    margin-left: auto;
}
#notification-number {
    border-radius: 4px;
    padding: 2px;
    color: v.$orange;
    background-color: v.$white;
}
#icon-orange {
    color: v.$orange;
}

::ng-deep .mat-badge-content { 
    background: v.$red !important; 
    color: v.$white !important 
}