<app-navigation></app-navigation>
<section>
    <div class="div_header">
        <header>
            <div class="top-row">
                <h1 class="header_element">Dashboard</h1>
            <button mat-raised-button color="primary" (click)="onCreateEvent()" *ngIf='role==="ORGANIZER"' class="header_element">Create event</button>
            </div>
            <p class="role-text">{{role}}</p>
        </header>
    </div>
    
    
    <body>
        <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <mat-select [(value)]="selectedFilter" (selectionChange)="getEventByFilter()">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                    {{filter}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="event-cards">
            <ng-container *ngFor="let event of events" >
                <app-event-card [event]="event" [routerLink]="['/event', event.id]">

                </app-event-card>
            </ng-container>

        </div>
    </body>
</section>