<app-nav-bar></app-nav-bar>
<h1>Employee Dashboard</h1>
<p>Vacations days left: {{vacationdays}}</p>
<mat-form-field appearance="fill">
  <mat-label>Requests</mat-label>
  <mat-select (selectionChange)="onChange($event.value)" >
    <mat-option *ngFor="let holiday of holidayList" [value]="holiday.value">
      {{holiday.viewValue}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start date"> Start date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date:'longDate' }} </td>
  </ng-container>
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end date"> End date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date:'longDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>
  <ng-container matColumnDef="Edit">
    <th mat-header-cell  *matHeaderCellDef > Edit </th>
    <td mat-cell *matCellDef="let row" >
         <button mat-button (click)="completeData(row)" >
          <mat-icon>visibility</mat-icon>
         </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<br>
<div class="div-holiday-request">
  <mat-card class="bg-card">
    <app-create-request *ngIf="showFormCreateRequest"></app-create-request>
    <button mat-button color="accent" type="button" (click)="showFormCreateRequest = !showFormCreateRequest" id="form-button">{{showFormCreateRequest? "Close" : "Create new request"}}</button>
  </mat-card>
</div>
<br><br>


<!-- TO DO TO DO TO DO -->
<!-- inlocuieste break urile cu display flex -->
<mat-form-field  appearance="fill">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="pickerStart" [(ngModel)]="startDate" name="startDate"  placeholder="Start Date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
</mat-form-field><br>
<mat-form-field appearance="fill">
  <mat-label>End date</mat-label>
  <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="endDate" name="endDate" placeholder="End Date">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="pickerEnd" ></mat-datepicker-toggle>
  <mat-datepicker #pickerEnd></mat-datepicker>
</mat-form-field><br>
<mat-form-field appearance="fill" >
  <mat-label>Substitute</mat-label>
  <input matInput [(ngModel)]="substitute" name="substitute" >
</mat-form-field><br>
<button mat-flat-button color="accent" (click)="clearData()">Cancel</button>
<button mat-flat-button color="accent">Send/Update</button><br>
<button mat-flat-button color="accent">Send to HR</button>
