@use '../../../variables' as v;
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
// These are for the create request form --> same as in teamlead dashboard

.div-holiday-request {
  background-color: v.$grey-secondary;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;

  position: fixed;
  bottom:0;

  max-width: 100vw; /* viewport width */
  max-height: 80vh; /* viewport height */
  overflow-y: scroll;
  z-index: 1;
}

// Until here
footer {
  height: 128px;
}

::ng-deep .mat-form-field {
  width: 320px;
}
@media screen and (max-width: 500px) {
  ::ng-deep .mat-form-field {
    width: 80%;
 }
}
