div{
    text-align: center;
    //padding: 20px;
}
h1 {
  padding: 20px;
  text-align:center;
}

.btn{
  padding: 0 10px 0 10px;
  margin: 20px 8px 20px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
}


