mat-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}

h3{
    text-align: center;
}

form {
    text-align: center;
    margin: auto;

    button {
        margin: 2%;
      
        &:hover{
            background-color: #6495ED;
        }
    }

    .cancel-button {
        margin: 2%;
        color: white;
        background-color: #565656;
      
        &:hover{
            background-color: #766F64;
        }
    }
}