<h3>Create new user</h3>
<form [formGroup]="userFormGroup" (ngSubmit)="createUser()">
    <mat-form-field appearance="fill" >
        <mat-label>Enter forename</mat-label>
        <input matInput placeholder="Forename" formControlName="forename" required>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Enter surname</mat-label>
        <input matInput placeholder="Surname" formControlName="surname" required>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Enter email</mat-label>
        <input matInput placeholder="name@example.com" formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Enter password</mat-label>
        <input matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Enter role</mat-label>
        <input matInput placeholder="Role" formControlName="role" required>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Enter department</mat-label>
        <input matInput placeholder="Department" formControlName="department" required>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Create User</button>
</form>
