<app-nav-bar></app-nav-bar>
<section>
    <app-user-list [someInput]="inputValue" (createSignal)="updateTable()" (updateUserSignal)="updateUser($any($event))" ></app-user-list>
</section>
<br>
<section>
    
    <div class="div-holiday-request">
        <mat-card class="bg-card">
            <app-create-user [parent]="this" *ngIf="showUserForm" (createSignal)="updateTable()" [editUserDto]="userUpdateDto" ></app-create-user>
          <button mat-button color="accent" type="button" (click)="showForm()" id="form-button">{{ showUserForm? "Close" : "Create new user" }}</button>
        </mat-card>
      </div>
</section>
<footer></footer>
