<article>
    <h2 class="align-text-element">{{event?.title}}</h2>
    <div class="card-header">
        <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">place</mat-icon>
        <p>{{event?.location}}</p>
    </div>
    <img [src]= "makeUrlSafe(event?.cover_image!)">
    <div class="card-bottom">
        <p class="align-text-element"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">event</mat-icon>{{ date }}</p>
        <p class="align-text-element">{{ status }}</p>
    </div>
</article>

