<div id="div-create-panel">
  <br>
  <mat-card-title>ADD NEW USER</mat-card-title>
<br>
<form id="create-form" [formGroup]="createUserForm" (ngSubmit)="createUser()">
 
  <mat-card class="email-hint" *ngIf="showEmailErrorMessage" (click)="resetWarnings()">The email or the password is incorrect.</mat-card>
  <mat-card class="email-hint-green" *ngIf="showEmailOkMessage" (click)="resetWarnings()">User Created</mat-card>
    <mat-form-field appearance="fill" >
      <mat-label>First name</mat-label>
      <input matInput placeholder="John" formControlName="surName" (click)="resetWarnings()">
    </mat-form-field><br>
    <mat-form-field appearance="fill" >
        <mat-label>Last name</mat-label>
        <input matInput placeholder="John" formControlName="forName" (click)="resetWarnings()">
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="myemail@gmail.com" formControlName="email" (click)="resetWarnings()" type="email"  ngModel email="true" [email]="true">
      </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (click)="resetWarnings()">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
     
          <mat-form-field appearance="fill">
        <mat-label>Holydays nr  .</mat-label>
        <input matInput placeholder="0" type="number" formControlName="nrHolidays" (click)="resetWarnings()">
      </mat-form-field><br>
<mat-form-field appearance="fill">
  <mat-label>Department</mat-label>
  <mat-select (selectionChange)="changeDepartment($event.value)" (click)="resetWarnings()">
    <mat-option *ngFor="let department of departments" [value]="department.value" >
      {{department.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select (selectionChange)="changeRole($event.value)" (click)="resetWarnings()">
      <mat-option *ngFor="let role of roles" [value]="role.value" >
        {{role.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>User Type</mat-label>
    <mat-select (selectionChange)="changeType($event.value)" (click)="resetWarnings()">
      <mat-option *ngFor="let userType of userTypes" [value]="userType.value" >
        {{userType.viewValue}}
      </mat-option>
    </mat-select>
     </mat-form-field>
  <br>
      <button mat-raised-button color="accent" type="submit" id="form-button">Add User</button>
      <br>

</form>
      
</div>