<article>
  <div *ngIf="(role === 'ATTENDEE' && updatePreferencesForAttendee) || updatePreferencesForOrganizer ">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div *ngIf="canUpdate">
        <div *ngFor="let question of questions" class="form-row">
          <app-question [question]="question" [form]="form"></app-question>
        </div>
      </div>
    
      <button mat-raised-button type="submit" class="accept-button" (click)="onAccept()" [hidden]="onAcceptStatus()" [disabled]="!form.valid || !canUpdate">Accept</button>
      <button mat-raised-button type="submit" class="decline-button" (click)="onDecline()" [hidden]="onDeclineStatus()" [disabled]="!canUpdate" >Decline</button>
      <button mat-raised-button type="submit" class="accept-button" (click)="onUpdate()" [hidden]="onDeclineStatus() || onNotAccepted()" [disabled]="!form.valid || !canUpdate" >Update</button>
      <button mat-raised-button type="submit" class="decline-button" [hidden]="onNotAccepted()" (click)="onCancelAttendee()" >Cancel</button>
    </form>
  </div>

  <div *ngIf="role==='ATTENDEE' && !updatePreferencesForAttendee" class="attendee">
    <div *ngFor="let response of invite!.inviteQuestionResponses; let i = index;" class="form-row">
      <b>Question {{i+1}}: </b> {{response.question!.text}}
      <div *ngIf="invite!.status === 'Not Accepted'">
        <p><b>R: </b> No response yet</p>
      </div>

      <div *ngIf="invite!.status === 'accepted'">

        <b>R: {{response.answer!.text}}</b> 

      </div>
    </div>

    <button mat-raised-button type="button" color="primary" (click)="onUpdateAttendee()"  [disabled]="!canUpdate">Update</button>

  </div>

  <div *ngIf="role === 'ORGANIZER' && !updatePreferencesForOrganizer" class="organizer">

    <div *ngFor="let response of invite!.inviteQuestionResponses; let i = index;" class="form-row">
      <b>Question {{i+1}}: </b> {{response.question!.text}}
      <div *ngIf="invite!.status === 'Not Accepted'">
        <p><b>R: </b> No response yet</p>
      </div>

      <div *ngIf="invite!.status === 'accepted'">

        <b>R: {{response.answer!.text}}</b>

      </div>
    </div>


    <button mat-raised-button type="button" color="primary" (click)="onUpdate()" [disabled]="!canUpdate">Update</button>

    <br>
    <hr>
    <div class="event_org">
      <button id="modify" mat-raised-button type="submit" class="accept-button" (click)="onUpdateEvent()">Update Event</button>
      <button id="modify" mat-raised-button type="button" class="decline-button" (click)="onCancel()">Cancel Event</button>
    </div>
  </div>

</article>
