<section class="teamsTable">
  <mat-card class="table-card">
  <table mat-table [dataSource]="this.dataSource">
    <ng-container matColumnDef="Team">
      <th mat-header-cell *matHeaderCellDef> Team name </th>
      <td mat-cell  class="teamName" *matCellDef="let element"> {{element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="View">
      <th mat-header-cell class="edit-cell" *matHeaderCellDef> View </th>
      <td mat-cell class="edit-cell" *matCellDef="let row" >
        <button mat-button (click)="viewTeamDetails(row)"><mat-icon>visibility</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell class="edit-cell" *matHeaderCellDef> Delete </th>
      <td mat-cell class="delete-cell" *matCellDef="let row" >
        <button mat-button (click)="deleteTeam(row)" ><mat-icon>delete_forever</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</mat-card>
  <footer>
  </footer>
</section>
