@use '~@angular/material' as mat;

section {
    padding: 15px 25px;

    header {
        .top-row {
            display: flex;
            justify-content: space-between;
            height: 40px;

            .header_element {
                display: inline-block;
                margin: 0;
            }
        }
    }

    body  {
        margin-top: 20px;

        .mat-form-field {
            width: 100%;
        }
    }

    button{
        margin: 8%;
        width:34%;
    }

    .change-button {
        &:hover{
            background-color: #6495ED;
        }
    }

    .cancel-button {
        background-color: #565656;
      
        &:hover{
            background-color: #766F64;
        }
    }
}