
@use '../../../variables' as v;
#create-button {
    margin-top: 12px;
    margin-bottom: 12px;
}
#hr-button {
  margin-bottom: 12px;
}
.file-input {
    display: none;
  }
.file-upload {
    margin-top: 8px;
    margin-bottom: 8px;
}
.upload-btn {
    margin-left: 8px;
}
.more-information {
  border-radius: 12px;
  background-color: v.$grey;
  color: black;
}
.password-hint {
    width: 325px;
    font-size: 12px;
    color: white;
    background: v.$red;
    margin-bottom: 12px;
}
.password-hint-green {
    width: 325px;
    font-size: 12px;
    color: white;
    background: v.$green;
    margin-bottom: 12px;
}
.p-more-information {
  background-color: v.$blue;
  color: v.$white;
  border-radius: 12px;
}
@media screen and ( max-width: 500px ) {
    .password-hint, .password-hint-green {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
   }
  }

  .mat-red {
    color: white;
    background-color: v.$red;
  }
  .mat-green {
    color: white;
    background-color: v.$green;
  }