#create-button {
    margin-top: 12px;
    margin-bottom: 12px;
}
.file-input {
    display: none;
  }
.file-upload {
    margin-top: 8px;
    margin-bottom: 8px;
}
.upload-btn {
    margin-left: 8px;
}