
<h2> {{updating ? "Update request" : "Send new request" }}</h2>
<mat-icon color="green" *ngIf="updating && updatingStatus == 'APPROVED'">done</mat-icon>
<p class="request-msg-green" *ngIf="updating && updatingStatus == 'APPROVED'">This request was approved.</p>
<mat-icon color="red" *ngIf="updating && updatingStatus == 'DENIED'">close</mat-icon>
<p class="request-msg-red" *ngIf="updating && updatingStatus == 'DENIED'">This request was declined.</p>
<mat-icon color="blue" *ngIf="updating && showStartedMessage">event_busy</mat-icon>
<p class="request-msg-blue" *ngIf="updating && showStartedMessage">You can not modify this holiday, since it has already started or ended.</p>
<form id="login-form" [formGroup]="holidayRequestFormGroup" #formDirective="ngForm">


  <div *ngIf="updating && details != '' ">
    <mat-card class="more-information">
      <mat-icon color="blue">info</mat-icon>
      <h3>More information required</h3>
      <p>Please provide more information for your request:</p>
      <mat-card class="p-more-information">
        <p>{{details}}</p>
      </mat-card>
    </mat-card>
  </div>
  <mat-form-field appearance="outline" color="accent"  *ngIf="!updating" >


    <mat-select (selectionChange)="onChange($event.value)" placeholder="Select holiday type" (click)="resetWarnings()" #matRef>
      <mat-option *ngFor="let holiday of holidayList" [value]="holiday.value" (click)="resetWarnings()">
        {{holiday.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field *ngIf="showFieldForStartDate" appearance="outline" color="accent">
    <input matInput [disabled]="showStartedMessage" [matDatepicker]="pickerStart" name="startDate" placeholder="Select start date" formControlName="startDate" (click)="resetWarnings()">
    <mat-datepicker-toggle matSuffix [for]="pickerStart" (click)="resetWarnings()">
      <mat-icon matDatepickerToggleIcon color="accent">calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field><br *ngIf="showFieldForStartDate">

  <mat-form-field *ngIf="showFieldForEndDate" appearance="outline" color="accent">
    <input matInput [disabled]="showStartedMessage" [matDatepicker]="pickerEnd" name="endDate" placeholder="Select end date" formControlName="endDate" (click)="resetWarnings()">
    <mat-datepicker-toggle matSuffix [for]="pickerEnd" (click)="resetWarnings()">
      <mat-icon matDatepickerToggleIcon color="accent">calendar_month</mat-icon></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field><br *ngIf="showFieldForEndDate">

  <mat-form-field *ngIf="showFieldForSubstitute" appearance="outline" color="accent">
    <input matInput name="substitute" [readonly]="showStartedMessage" formControlName="substitute" placeholder="Substitute" (click)="resetWarnings()">
  </mat-form-field><br *ngIf="showFieldForSubstitute">

  <!-- <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload> -->
  <div *ngIf="showFieldForDocument">
    <!--<input type="file" #fileInput (change)="onFileInput(fileInput.files)" /> -->

    <input type="file" id="file" [disabled]="showStartedMessage" class="file-input" accept="application/pdf" #fileInput (click)="resetWarnings()" (change)="onFileInput(fileInput.files)"  required>
    <div class="file-upload">
      {{fileName || "Attach your document."}}
      <button mat-mini-fab *ngIf="!fileName" type="button" color="blue-bg" class="upload-btn"
              (click)="fileInput.click()">
        <mat-icon color="blue-bg">attach_file</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="fileName" type="button" color="green-bg" class="upload-btn"
              (click)="fileInput.click()">
        <mat-icon color="green-bg">attach_file</mat-icon>
      </button>
    </div>



  </div>

  <button *ngIf="documentExists" mat-icon-button aria-label="Download icon" id="download-button" (click)="downloadDocument()">
    <mat-icon class="section-mat-icon">picture_as_pdf</mat-icon>
  </button>
  <br *ngIf="documentExists">

  <mat-card class="password-hint" *ngIf="showFillErrorMessage">Please fill out all fields correctly.</mat-card>
  <mat-card class="password-hint" *ngIf="showNumberHolidaysErrorMessage">{{showCreateErrorMsg}}</mat-card>

  <mat-card class="password-hint" *ngIf="showDateErrorMessage">Invalid date interval.</mat-card>
  <mat-card class="password-hint" *ngIf="showPastDateErrorMessage">The date interval can't be in the past.</mat-card>
  <mat-card class="password-hint-green" *ngIf="showSuccessfulMessage">Request sent successfully.</mat-card>
  <button mat-raised-button type="submit" id="create-button" [disabled]="showStartedMessage" color="accent" *ngIf="showFieldForStartDate" (click) = "verifyHolidayRequest()">{{ updating ? "Update request" : "Create request" }}</button><br>
  <button mat-raised-button type="button" id="hr-button" color="blue" *ngIf="showFieldForStartDate && updating" (click) = "sendToHr()">Send to HR</button>
</form>
