nav {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  padding: 5px 10px;
  
  box-shadow: none; 
  background-color: #f0f0f0;
}

.left-nav {
  width: 40%;
}

.right-nav {
  width: 60%;
  float: right;
  border-radius: 20px;
  margin-bottom: 2%;
}

.left-nav,
.right-nav {
  display: inline-block;
}

.navigation {
  padding: 10px;
  font-size: 35px;
  list-style: none;
  margin: 0;
  transition: all 5s linear;
  display: none;
  opacity: 0;

  li{
    font-size: 13px;
    font-weight: 450;
    padding: 10px 15px;
    display: block;
    border-radius: 20px;
    
    text-align: right;
    a{
      text-decoration: none;
      color:#000000;
    }
  }

  li:hover{
    background-color: rgb(247, 247, 247);
  }
}

.open-nav,
.close-nav {
  transition: all 5s linear;
  display: none;
  opacity: 0;
  cursor: pointer;
}

.back-link {
  cursor: pointer;
  text-decoration: none;
  color:#000000;
}

.meniu-label {
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
}

#check {
  display: none;

  &:checked ~ {
    label .close-nav,
    .navigation {
      opacity: 1;
      display: block;
    }
  }

  &:not(:checked) ~ {
      label .open-nav {
          opacity: 1;
          display: block;
      }
  }
}

.material-icons{
    font-size: 35px;
}

#icon{
  position: relative;
  font-size: 20px;
  margin-right: 3%;
  padding-bottom: 5%;
  vertical-align: text-top;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.logout{
  position: relative;
  vertical-align: text-top;
}