<app-navigation></app-navigation>
<section *ngIf="event">
    <!-- <header style="height: 100px;">

    </header> -->
    <img [src]="makeUrlSafe(event?.cover_image!)">
    <body *ngIf="event">
        <h2 class="event-title">{{event.title}}</h2>
        <div class="event-details">
            <p class="align-text-element"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">place</mat-icon> {{ event?.location }}</p>
            <p class="align-text-element"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">event</mat-icon> {{ event?.eventDate | date: 'dd/MM/YYYY' }}</p>
            <p class="align-text-element"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">schedule</mat-icon> {{ event?.eventDate | date: 'hh:mm' }}</p>
            <p class="align-text-element"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">checkroom</mat-icon> {{ event?.dressCode }}</p>
            <p class="align-text-element"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon> {{ date }}</p>
        </div>
       
        <div class="form-container">
            <app-dynamic-form *ngIf="event.questions && event.id" [canUpdate]="canUpdate" [event]="event" [questions]="event.questions" [invite]="getMyEvent()" (newValue)="changeValue($event)"></app-dynamic-form>
        </div>

        <button routerLink="statistics"  mat-raised-button type="submit" color="primary" class="statistics-button" *ngIf='role==="ORGANIZER" && statisticsDisplay'>Statistics</button>
    </body>
</section>
