<app-navigation></app-navigation>

<section class="administration">

  <div class="div_header">
    <header>
      <div class="top-row">
          <h1 class="header_element">User administration</h1>
      </div>
    </header>
  </div>

    <body>
      <br>
        <div class="mat-elevation-z8">
          <div class="scrollable-table">
            <table mat-table [dataSource]="dataSourceUpdated">
        
              <!-- Forname Column -->
              <ng-container matColumnDef="forename">
                <th mat-header-cell *matHeaderCellDef> Forename </th>
                <td mat-cell *matCellDef="let element"> {{element.forename}} </td>
              </ng-container>
          
              <!-- Surname Column -->
              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
              </ng-container>
    
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-button (click)="openInfo(element)"  ><mat-icon>info</mat-icon></button>
                  <button mat-button (click)="edit(element)"><mat-icon>edit</mat-icon></button>
                  <button mat-button (click)="delete(element)"><mat-icon>delete_forever</mat-icon></button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          
          <app-user-admin-form *ngIf="showForm"
              [createForm]='createForm'
              (createFormChangeEmitter)='toggleCreateForm()'
              [userToEdit]='userToEdit'
              (userEmitter)="collectData($event)">
          </app-user-admin-form>
        </div>  
    </body>
    
</section>