<div class="dialog">
    <div *ngIf="login">
        <h1  mat-dialog-title>Error ! </h1>
        <mat-dialog-content color="warn"> {{this.data.message}} </mat-dialog-content>
    </div>
    <div class="info" *ngIf="admin">
        <h3  mat-dialog-title>User details </h3>
        <mat-dialog-content> 
            <span class="details">Forename:</span><span> {{this.data.parameter.forename}} </span><br>
            <span class="details">Surname:</span><span> {{this.data.parameter.surname}} </span><br>
            <span class="details">Email:</span><span> {{this.data.parameter.email}}</span><br>
            <span class="details">Role:</span><span> {{this.data.parameter.role}}</span><br>
            <span class="details">Department:</span><span> {{this.data.parameter.department}}</span><br> 
        </mat-dialog-content>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>

