<<<<<<< HEAD


dialog {
    text-align: center;
    width: 300px;

    h1 , button {
        text-align: center;
    }

    .info {
        display: inline-block;
    }
=======
.dialog {
    text-align: center;


    button {
        margin:auto auto;
    }
  
>>>>>>> frontend-mmehi
}


