<div class="dialog">
    <div *ngIf="login">
        <h1  mat-dialog-title>Error ! </h1>
        <mat-dialog-content color="warn"> {{this.data.message}} </mat-dialog-content>
    </div>
    <div *ngIf="email">
        <h1  mat-dialog-title>Error ! </h1>
        <mat-dialog-content color="warn"> {{this.data.message}} </mat-dialog-content>
    </div>
    <div class="info" *ngIf="admin">
        <h3  mat-dialog-title>User details </h3>
        <mat-dialog-content> 
            <span class="details">Forename:</span><span> {{this.data.parameter.forename}} </span><br>
            <span class="details">Surname:</span><span> {{this.data.parameter.surname}} </span><br>
            <span class="details">Email:</span><span> {{this.data.parameter.email}}</span><br>
            <span class="details">Role:</span><span> {{this.data.parameter.role}}</span><br>
            <span class="details">Department:</span><span> {{this.data.parameter.department}}</span><br> 
        </mat-dialog-content>
    </div>

    <div class="answers" *ngIf="event_extras">
        <h3 mat-dialog-title> Question </h3>
        <div *ngFor="let answer of question?.answerList; let i = index">
            <p> Answer {{i+1}}: {{answer.text}}</p>
        </div>

        <div *ngIf="input">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Enter Answers</mat-label>
                  <input matInput placeholder="" formControlName="answer" required>
                </mat-form-field>
            </form>
        </div>
    
        <button mat-raised-button color="primary" class="add-button" (click)="showInput()">Add Answer</button><br>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>

