.dialog {
    text-align: center;

    button {
        margin:auto auto;

        .close-button {
            margin: 2%;
            color: white;
            background-color: #565656 !important;
        }

    }
    
 
    .info {
        display: inline-block;
    }
}

.details{
    font-weight: 600;
}