<section class="section-detailed-request">

  <header>
    <h2 class="section-title">Request View</h2>
  </header>

  <form [formGroup]="holidayRequestFormGroup" #formDirective="ngForm">
    <p *ngIf="showFieldForName">Name: </p>
    <mat-form-field *ngIf="showFieldForName" appearance="outline" color="accent">
      <input readonly matInput name="name" formControlName="name" placeholder="Name">
    </mat-form-field><br *ngIf="showFieldForName">

    <p *ngIf="showFieldForType">Type: </p>
    <mat-form-field *ngIf="showFieldForType" appearance="outline" color="accent">
      <input readonly matInput name="type" formControlName="type" placeholder="Type">
    </mat-form-field><br *ngIf="showFieldForType">


    <p *ngIf="showFieldForStartDate">Start date: </p>
    <mat-form-field *ngIf="showFieldForStartDate" appearance="outline" color="accent">
      <input readonly matInput [matDatepicker]="pickerStart" name="startDate" placeholder="Select start date" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="pickerStart">
        <mat-icon matDatepickerToggleIcon color="accent">calendar_month</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field><br *ngIf="showFieldForStartDate">

    <p *ngIf="showFieldForEndDate">End date: </p>
    <mat-form-field *ngIf="showFieldForEndDate" appearance="outline" color="accent">
      <input readonly matInput [matDatepicker]="pickerEnd" name="endDate" placeholder="Select end date" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd">
        <mat-icon matDatepickerToggleIcon color="accent">calendar_month</mat-icon></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field><br *ngIf="showFieldForEndDate">

    <p *ngIf="showFieldForSubstitute">Substitute: </p>
    <mat-form-field *ngIf="showFieldForSubstitute" appearance="outline" color="accent">
      <input readonly matInput name="substitute" formControlName="substitute" placeholder="Substitute">
    </mat-form-field><br *ngIf="showFieldForSubstitute">


    <p *ngIf="showFieldForDocument">Extra information: </p>
    <mat-form-field *ngIf="showFieldForDocument && !documentExists" appearance="outline" color="accent">
      <input readonly matInput name="document" formControlName="document" placeholder="Extra information">
    </mat-form-field><br *ngIf="showFieldForDocument">
    <button *ngIf="documentExists" mat-icon-button aria-label="Download icon" id="download-button" (click)="downloadDocument()">
      <mat-icon class="section-mat-icon">picture_as_pdf</mat-icon>
    </button>

    <mat-card class="error-message" *ngIf="isErrorMessage">{{this.errorString}}</mat-card>
    <mat-card class="success-message" *ngIf="isSuccessMessage">{{this.successString}}</mat-card>

    <div class="button-container">
      <button mat-raised-button type="button" id="approve-button" color="green">Approve</button>
      <button mat-raised-button type="button" id="decline-button" color="red" (click) = "declineRequest()">Decline</button>
      <button mat-raised-button type="button" id="details-button" color="accent" (click) = "moreDetails()">More details</button>
    </div>

  </form>

</section>
