@use '../../../../variables' as v;
.section-teams-requests{
  display: block;
  text-align: center;
  overflow-y: auto;
}

.section-title{
  text-align: left;
  margin-left: 20px;
}

.section-button--create--request{
  display: block;
  text-align: left;
}

.mat-form-field {
  margin-left: 12px;
  margin-right: 12px;
}
.div-member-request {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.bg-card {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: 20px;
}

.div-holiday-request {
  margin-top: 24px;
  margin-bottom: 24px;
}

.approved-icon{
  fill: #3cf142;
  padding-bottom: 10px;
}

.declined-icon{
  fill: #ff0b0b;
  padding-bottom: 10px;

}
