#login-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    width: 80%;
}

form {
    text-align: center;
    margin: auto auto;

    .login-button {
        margin: 2%;
      
        &:hover{
            background-color: #6495ED;
        }
    }

    .password-button {
        margin: 2%;
        background-color: #565656;
      
        &:hover{
            background-color: #766F64;
        }
    }

}

