
@use '../../../../../variables' as v;
::ng-deep .mat-form-field {
    width: 320px;
 }
 
@media screen and ( max-width: 500px ) {
    ::ng-deep .mat-form-field {
        width: 80%;
     }
  }


@media screen and ( max-width: 500px ) {
    ::ng-deep .mat-form-field {
        width: 80%;
     }
  }
  .email-hint {
    width: 325px;
    font-size: 12px;
    color: white;
    background: v.$red;
}
.email-hint-green {
    width: 325px;
    font-size: 12px;
    color: white;
    background: v.$green;
    margin-bottom: 12px;
}
  .mat-raised-button{
    color: white !important;
  }
footer {
    height: 24px;
}
div{
  text-align: center;
  display: block;
}
@media screen and ( max-width: 500px ) {
    .bg-card {
       width: 80% !important;
   }
 }
 .edit-buttons {
    margin: 4px;
    margin-bottom: 8px;
 }