
  <br>
  <mat-card-title>Edit {{email_d}}</mat-card-title>
<br>
<form id="edit-form" [formGroup]="createUserForm" (ngSubmit)="updateUser()">
  <mat-card class="edit-hint" *ngIf="showEditErrorMessage" (click)="resetWarnings()">Could not update user.</mat-card>
  <mat-card class="edit-hint-green" *ngIf="showEditOkMessage" (click)="resetWarnings()">User updated successfully.</mat-card>
  <p>First name</p> 
  <mat-form-field appearance="outline" color="accent" >
      <input matInput [placeholder]="surname_d" [(ngModel)]="surname_d" formControlName="surName" (click)="resetWarnings()">
    </mat-form-field><br>
    <p>Last name</p>
    <mat-form-field appearance="outline" color="accent" >
        <input matInput [placeholder]="forname_d" [(ngModel)]="forname_d" formControlName="forName" (click)="resetWarnings()">
      </mat-form-field><br>
      <p>Holiday days</p>
          <mat-form-field appearance="outline" color="accent" >
        <input matInput type="number" [placeholder]=$any(nrHolidays_d)  [(ngModel)]=nrHolidays_d  formControlName="nrHolidays" (click)="resetWarnings()">
      </mat-form-field><br>
      <p>Department</p>
<mat-form-field appearance="outline" color="accent" >
  <mat-select (selectionChange)="changeDepartment($event.value)"  [(value)]="department_d" placeholder="Mode" (click)="resetWarnings()">
    <mat-option *ngFor="let department of departments" [value]="department.value"  >
      {{department.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<p>Role</p>
<mat-form-field appearance="outline" color="accent" >
    <mat-select (selectionChange)="changeRole($event.value)" [(value)]="role_d" placeholder="Mode" (click)="resetWarnings()">
      <mat-option *ngFor="let role of roles" [value]="role.value" >
        {{role.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<br>
    <mat-checkbox formControlName="boolEditPassword"   [(ngModel)]="boolEditPassword" (click)="resetWarnings()">Edit User Password</mat-checkbox>
    <br>
    <mat-form-field appearance="outline" color="accent" *ngIf="boolEditPassword">
      <input matInput [placeholder]="password_d"  [(ngModel)]="password_d" [type]="hide ? 'password' : 'text'" formControlName="password" (click)="resetWarnings()">
      <button mat-button type ="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field><br>
  <button mat-raised-button class="edit-buttons"  color="green" type="submit" id="form-button">Edit</button>
</form>
