#edit-form {
    padding-top: 28px;
    padding-bottom: 28px;
}


::ng-deep .mat-form-field {
    width: 320px;
 }
 ::ng-deep .mat-checkbox {
    width: 320px;
 }
@media screen and ( max-width: 500px ) {
    ::ng-deep .mat-form-field {
        width: 80%;
     }
  }


@media screen and ( max-width: 500px ) {
    ::ng-deep .mat-form-field {
        width: 80%;
     }
  }
  @media screen and ( max-width: 500px ) {
    ::ng-deep .mat-checkbox {
        width: 80%;
     }
  }

  .mat-raised-button{
    color: white !important;
  }
  h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 16px;
    font-weight: bold;

}
#form-button {
    margin-top: 26px;
}
div{
  text-align: center;
  display: block;
}
#div-edit-panel
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%)
}
.bg-card {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 20px;
}

@media screen and ( max-width: 500px ) {
    .bg-card {
        width: 80%;
    }
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}