<div class="centered">
  <h1>User Management</h1>
</div>
<mat-card class="table-card">
  <mat-form-field class="filter" (keydown.space)="$event.stopPropagation()" appearance="outline" color="accent">
    <input matInput class="form-field" [formControl]="surnameFilter" placeholder="Fiter by surname">
  </mat-form-field>
  <mat-form-field (keydown.space)="$event.stopPropagation()" appearance="outline" color="accent">
    <input matInput class="form-field" [formControl]="fornameFilter" placeholder="Filter by forname">
  </mat-form-field>
    <table mat-table [dataSource]="dataSource">
 
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>
      <ng-container matColumnDef="forname">
        <th mat-header-cell *matHeaderCellDef> Forname </th>
        <td mat-cell *matCellDef="let element"> {{element.forname}} </td>
      </ng-container>
    
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td  mat-cell *matCellDef="let element"> <span>
          {{(readMore) ? element.department : element.department | slice:0:4}} 
          <a href="javascript:;" *ngIf="!readMore && element.department?.length > 4" (click)="readMore=true">...</a>
          <a href="javascript:;" class="garage-title" *ngIf="readMore && element.department?.length > 4" (click)="readMore=false">...less</a>
        </span> </td>
      </ng-container>
   
      <ng-container matColumnDef="edituser">
        <th mat-header-cell class="edit-cell" *matHeaderCellDef>Edit</th>
        <td mat-cell class="edit-cell" *matCellDef="let element"> <button mat-button (click)="getRecord(element)"><mat-icon color="blue">edit</mat-icon></button> </td>
      </ng-container>
      <ng-container matColumnDef="deleteuser">
        <th mat-header-cell class="edit-cell" *matHeaderCellDef> Delete</th>
        <td mat-cell class="delete-cell" *matCellDef="let element"> <button mat-button (click)="getRecordDelete(element)"><mat-icon color="red">delete_forever</mat-icon></button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>



