button:focus, 
button:active:focus, 
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    width: 80%;
}
.event-extras {

    .questionsButton {
        display: flex;
        
        #editButton {
            float: left;
            margin-right: -20px;

        }
        #deleteButton {
            float: left;

        }
    }
}