<section class="event-extras">

    <mat-accordion >
        <mat-expansion-panel *ngFor="let question of questions; let i=index" >
            <mat-expansion-panel-header>

                <mat-panel-title>
                    <b>Question {{i+1}}:</b>
                </mat-panel-title>
                <mat-panel-description>
                    <input id="{{'questionText' + i}}" type="text" (change)="editQ(question,i)"
                        (keydown.Space)="$event.stopImmediatePropagation()" (click)="$event.stopImmediatePropagation()"
                        value="{{question.text}}">

                    <button id="{{'deleteButton' + i}}" type="button" (click)="deleteQuestion(i,$event)" mat-button>
                        <mat-icon id="delete">delete_forever</mat-icon>
                    </button>


                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="answers" *ngFor="let answer of question.answerList; let j=index">

                <div class="answer-element">
                    <b> Answer {{j+1}} : </b> <input id="{{'answer' + j + i}}" type="text" (change)="edit(j,i)"
                        (keydown.Space)="$event.stopImmediatePropagation()" value="{{answer.text}}">

                    <button type="button" mat-button (click)="deleteAnswer(j,question,i)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>

            </div>
            <div *ngIf="inputAnswer">
                <form [formGroup]="formAnswer" (ngSubmit)="onSubmitAnswer(question)">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Answer</mat-label>
                        <input matInput placeholder="" formControlName="answer" required>
                    </mat-form-field>
                </form>
            </div>




            <button mat-raised-button type="button" color="primary" class="add-button" (click)="showInputAnswer()">Add
                Answer</button><br>
        </mat-expansion-panel>
    </mat-accordion>


    <div *ngIf="input">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter Questions</mat-label>
                <input matInput placeholder="" formControlName="question" required>
            </mat-form-field>
        </form>
    </div>
    <br>
    <button mat-raised-button type="button" color="primary" class="add-button" (click)="showInput()">Add
        Question</button><br>
</section>