button:focus, 
button:active:focus, 
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    width: 80%;
}

.event-extras {

    
        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
           
            align-items: center;
            width: 60%;
            input {
                border-width:0px;
                border:none;
                width: 140px;
                
            }
           
            
           
        }

        
        .answers {
            display: flex;
            input {
                border-width:0px;
                border:none;
                width: 140px;
            }
            .answer-element {
                justify-content: space-between;
                align-items: center;
               
            }
        }
    
    
   
}